body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  background-color: #f2f2f2;
  color: #666;
}

#app {
  height: 100%;
}

a {
  color: #666;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.admin-link {
  color: #029789;
  text-decoration: none;
}

.button-block {
  width: 100%;
}

.main-box {
  padding: 15px;
  margin: 10px 10px 0;
  background: #fff;
  min-height: calc(100vh - 105px);
  box-sizing: border-box;
}

.relative {
  position: relative;
}
